{% extends 'home/base.html' %}

{% block title %}My Profile{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <h3>Your Information</h3><hr>
    
            <p><span>Name: </span> {{customer.full_name}}</p>
            <p><span>Username: </span> {{customer.user.username}}</p>
            <p><span>Email: </span> {{customer.user.email}}</p>
            <p><span>Address: </span> {{customer.address}}</p>
            <p><span>Contact No.: </span> {{customer.contact}}</p>
    
        <div class="col-md-8">
            <h3>Previous Orders</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID</th>
                        <th>Amount</th>
                        <th>Ordered on</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ord in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'home:customerorderdetail' ord.pk %}"> #ORDER_{{ord.id}}</a></td>
                        <td>{{ord.total}}</td>
                        <td>{{ord.created_at|timesince}} ago</td>
                        <td>{{ord.order_status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div>
{% endblock %}