{% extends 'home/base.html' %}

{% block title %} Add To Cart{% endblock %}

{% block main %}

      <!-- about us -->
  <section id = "about" class = "py-5">
    <div class = "container">
        <div class = "row gy-lg-5 align-items-center">
            <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
                <div class = "title pt-3 pb-5">
                    <h2 class = "position-relative d-inline-block ms-4">About Us</h2>
                </div>
                <p class = "lead text-muted">Welcome to our shop! We are passionate about providing high-quality clothing and exceptional customer service.</p>
                <p>Our mission is to offer the latest fashion trends at affordable prices, making it easier for you to express your unique style. We value your satisfaction and strive to meet your clothing needs.</p>
            </div>
            <div class = "col-lg-6 order-lg-0">
                <img src = "/static/home/images/lvdpasal.jpg" alt = "" class = "img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- end of about us -->




{% endblock %}