{% extends 'home/base.html' %}

{% block title %}Checkout {% endblock %}

{% block main %}
<style>
    .errorlist{
        color: red;
    }
    {% comment %} .form-container{
        background-color:white;
        border-radius:20px;
        box-sizing:border-box;
        height:500px;
        width:320px;
        align-items:center;
    }
    .form-welcome{
        color:#eee;
        font-family:sans-serif;
        font-size:36px;
        font-weight:600px;
        margin-top:30px;
    } {% endcomment %}

</style>

<header class="classheader">
	<div class="container-checkout">
		<div class="left">
			<h3>BILLING ADDRESS</h3>
			<form action="" method="POST">
             {% csrf_token %}
             {{form.as_p}}
				{% comment %} <input type="text" name="ordered_by" placeholder="Enter your fullname">
            </br>
				<input type="email" name="email" placeholder="Enter email">
            </br>
				<input type="text" name="shipping_address" placeholder="Enter address">
			</br>	
				<input type="number" name="mobile" placeholder="Enter your phone number">
				<div id="zip">
					<label>
						<h3>PAYMENT METHOD</h3>
						<select>
							<option>Cash On Delivery</option>
							<option>Esewa</option>
						</select>
					</label>
                </div> {% endcomment %}
			<input type="submit" name="" value="Place Order">
				
		</form>
		</div>
    
		<div class="right">
			
		</div>
	</div>
</header>

{% endblock %}