{% extends 'home/base.html' %}

{% block title %} Add To Cart{% endblock %}

{% block main %}


  <!-- start of contact us page -->
  <section id = "contact" class = "py-5">
    <div class="container">
      <h1>Contact Us</h1>
      <p>
        If you have any inquiries, please feel free to contact us using the information below:
      </p>
      <ul>
        <li>Email: Sushiltamang215@gmail.com</li>
        <li>Phone: +977 9843043102</li>
        <li>Address: Tourism Market, Suryabinayak, Bhaktapur</li>
      </ul>
      <p>
        You can also reach out to us through our social media channels:
      </p>
      <ul>
        <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100084033919095">LVD Splash, 365 clothing store</a></li>
      </ul>
    </div>
  </section>
  
    <!-- end of contact us page -->


{% endblock %}