{% extends 'home/home.html' %}


{%block main%}
    <!-- Product Details -->
{% comment %} {%if products %}  {% endcomment %}
    <section class="section product-detail">
    {% comment %} {% for products in mens %} {% endcomment %}
      <div class="details container">
        
        <div class="left image-container">
          <div class="main">
            <img src="{{products.image.url}}" class="img-fluid" id="zoom" alt="" />
          </div>
        </div>
        <div class="right">
          <span>{{products.category}}</span>
          <h1>{{products.name}}</h1>
          <div class="price">Rs {{products.price}}</div>
          <h5>Product Detail</h5>
          <p>
            {{products.description}}
          </p>
          <br>
          
   
          
          <form class="form">
            {% comment %} <input type="text" placeholder="1" /> {% endcomment %}
            <a href="{% url 'home:add-to-cart' products.id %}" class="addCart border-2">Add To Cart</a>
          </form>
        </div>
        
      </div>
      {% comment %} {%endfor%} {% endcomment %}
    </section>
{% comment %} {% endif %} {% endcomment %}

<script>
  function get_correct_size(size) {
    window.location.href = window.location.pathname + `?size=${size}`
  }
</script>

{%endblock main%}

