/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
 

/* Color Variables */
:root {
  --white: #fff;
  --red: #ff0000;
  --black: #222;
  --green: #6cbe02;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;

  --font1: 'Heebo', sans-serif;
  --font2: 'Fira Sans Extra Condensed', sans-serif;
  --font3: 'Roboto', sans-serif;

  --btnbg: #ffcc00;
  --btnfontcolor: rgb(61, 61, 61);
  --btnfontcolorhover: rgb(255, 255, 255);
  --btnbghover: #ffc116;
  --btnactivefs: rgb(241, 195, 46);


  --label-index: #960796;
  --danger-index: #5bc257;
/* PAGINATE */
  --link-color: #000;
  --link-color-hover: #fff;
  --bg-content-color: #ffcc00;
}
.navbar{
    height: auto;
}
.navbar-brand img{
    width: 100px;
    height: 40px;
}
.navbar-brand span{
    font-size: 20px;
}


/* Product Details */
.product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 6rem;
  }
  .product-detail{
    padding-top: 50px;
    margin-top: 100px;
  }
  
  .product-detail .left {
    display: flex;
    flex-direction: column;
  }
  
  .product-detail .left .main {
    text-align: center;
    background-color: #f6f2f1;
    margin-bottom: 2rem;
    height: 45rem;
  }
  
  .product-detail .left .main img {
    object-fit: cover;
    height: 80%;
    width: 80%;
  }
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .product-detail .right h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .product-detail .right .price {
    font-size: 600;
    font-size: 2rem;
    color: var(--green);
    margin-bottom: 2rem;
  }
  
  .product-detail .right div {
    display: inline-block;
    position: relative;
    z-index: -1;
  }
  
  .product-detail .right select {
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  .product-detail form {
    margin-bottom: 2rem;
    z-index: 0;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  .product-detail .form {
    margin-bottom: 3rem;
  }
  
  .product-detail .form input {
    padding: 0.8rem;
    text-align: center;
    width: 3.5rem;
    margin-right: 2rem;
  }
  
  .product-detail .form .addCart {
    background: var(--green);
    text-decoration: none;
    padding: 0.8rem 2rem;
    color: #fff;
    border-radius: 3rem;
  }
  .product-detail .form .addCart:hover {
    background-color: red;
  }
  
  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 996px) {
    .product-detail .left {
      width: 30rem;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .product-detail .details {
      grid-template-columns: 1fr;
    }
  
    .product-detail .right {
      margin-top: 1rem;
    }
  
    .product-detail .left {
      width: 100%;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  }

/*end of product details*/
 
.container-fluid {
    max-width: 1400px;
    margin-top: 105px;
}
.container-fluid a{
  text-decoration: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
}
.clearfix span{
  font-size: 22px;
}
.card-desc p{
  font-size: 20px;
}
 
.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}
 
.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}
 
 
.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}
 
.card h5 a {
  color: black;
  text-decoration: none;
} 
 
.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}
 
.card h2 {
    font-size: 1rem;
}
 
 
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
 
/* Centered text */
.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}
 
.top-right {
    position: absolute;
    top: 24px;
    left: 24px;
 
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}
 
.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}
 
.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}
 
.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {
 
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;
}
 
@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}
 
/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}
.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
 
/* END BUTTON */
 
.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg)!important;
    color: var(--btnfontcolor)!important;
}
.bg-danger {
    font-size: 1rem;
}
 
 
.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}
 
.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}
 
.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}
 
.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}
.container{
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown button{
  border:none;
  border-radius:5px;
  color: #000;
  font-size:1.5rem;
  cursor:pointer;
}
.dropdown button:hover{
  background-color:#ddd;
}
.dropdown-options {
  display: none;
  width: 80px;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  font-size: 1rem;
  align-items: center;
  text-decoration: none;
  
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}
/*myprofilelogin*/
.myprofile{
  display: inline-block;
  position: relative;
  width: 150px;

}

.myprofile .info-profile{
  display: none;
  position: absolute;
  overflow: auto; 
  background-color:white;  
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.myprofile:hover .info-profile{
  display: block;

}
.info-profile a{
  display: block;
  color: #000000;
  padding: 5px;
  font-size: 1.5rem;
  align-items: center;
  text-decoration: none;
}
.info-profile a:hover{
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px
} 
.customer-info{
  display: flex;
  position: relative;
  border: none;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  height: auto;
}
.customer-inforow h3{
  font-size: 30px;
  font-weight: 1000;
}
.customer-inforow p{
  padding: 20px;
  font-weight: 400;
}
.customer-inforow span{
  padding: 2px;
  font-size: 20px;
  font-weight: 800;  
}


.container-form{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container-regform{
  position: absolute;
  margin-top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container-form .registration{
  display: none;

}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container-form .form{
  padding: 2rem;
}
.container-regform .form{
  padding: 2rem;
}
.form header{
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5rem;
  
}
 .form input{
   height: 40px;
   width: 100%;
   padding: 0 15px;
   font-size: 15px;
   margin-bottom: 1rem;
   border: none;
   border-radius: 10px;
   outline: none;
   background-color: #ddd9d9;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form .button{
  color: #fff;
  background: #009579;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
  padding: 6px;
  border: none;
  border-radius: 4px;
  margin-left: 75%;
 
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

.form-outline  .quantity{
  font-size: 30px;
  padding: 10px;
  
}

/*checkout css*/

.classheader{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
  padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;
}
.container-checkout{
	background: #fff;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
.classheader form{
	padding: 1rem;
}

.classheader h3{
	margin-top: 1rem;
	color:#2c3e50;
  font-weight: 500;


	}

.classheader form input[type="text"]{
	width: auto;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
}
.classheader form input[type="email"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
}
.classheader form input[type="number"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
  background-color: rgb(218, 218, 218);
  border-radius: 10px;
}
#zip{
	display: flex;
 
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
  margin-top: 1rem;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;

}

input[type="submit"]{
	width: auto;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: #2c3e50;
}


@media only screen and (max-width: 770px){
	.container-checkout{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}

/*myordercss*/

.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #fff;
  border-bottom: 5px solid transparent;
  /*background-color: gold;*/
  background-clip: padding-box;
}

thead {
  background: #dddcdc;
}

.toggle-btn {
  width: 40px;
  height: 21px;
  background: grey;
  border-radius: 50px;
  padding: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transition: all 0.3s 0.1s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
}

.toggle-btn > .inner-circle {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  -moz-transition: all 0.3s 0.1s ease-in-out;
  -o-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
}

.toggle-btn.active {
  background: blue !important;
}

.toggle-btn.active > .inner-circle {
  margin-left: 19px;
}