{% extends 'dashboard/base.html' %}


{% block title %}All Orders{% endblock  %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Orders</h3><hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID </th>
                        <th>Customer</th>
                        <th>Ordered On</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Payment Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in allorders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'dashboard:adminorderdetail' order.id %}">#ORDER_{{order.id}}</a></td>
                        <td>{{order.ordered_by}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.total}}</td>
                        <td>{{order.order_status}}</td>
                        <th>{{order.payment_completed}}
                        <td>
                            <div class="btn-group" role="group">
                               
                                   
                                   
                               {% if not order.non_deletetable %}
                               <form action="{% url 'dashboard:adminorderdelete' order.pk %}" method="post">

                                {% csrf_token %}
                                <button class="btn btn-danger btn-sm delete-link ml-2" data-tooltip="tooltip" title="Delete">
                                    <e class="far fa-trash-alt"></e>
                                </button>
                                
                               </form>
                    
                               {% endif %}
                            </div>
                        </td>
            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>






{% endblock %}
